@import url('../../global.css');
.res-hero-meme {
    max-width: 20rem;
}

.caption-main {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    align-items: stretch;
    gap: 1.5rem;
    max-width: 35vw;
}

.wrap-side-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.res-img-hero {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
.res-img-main{
    min-width: 50rem;
    object-fit: contain;
}
.h3-tags{
    font-size: x-large;
}
.caption-main>h2{
    font-size: 2rem;
}
.btn-primary-outline{
    max-width: 8rem;
    font-size: large;
}
.btn-primary-outline:hover{
    background-color: var(--primary-title-color);

}
