@import url('../../global.css');
.res-hero-meme {
    max-width: 20rem;
}

.caption-main {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    align-items: stretch;
    gap: 1.5rem;
    width: 50vw;
}

.wrap-side-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}

.res-img-hero {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
.res-img-main{
    object-fit: contain;
    width: 45vw;
}
.h3-tags{
    font-size: x-large;
}
.caption-main>h2{
    font-size: 2rem;
}
.btn-primary-outline{
    max-width: 8rem;
    font-size: large;
}
.btn-primary-outline:hover{
    background-color: var(--primary-title-color);

}
@media screen and (max-width:768px) {

  .res-img-main{
      display: none;
  }
  .caption-main{
   width: 100%;
   margin: 0.9rem;
  }  
  .caption-main> h2{
      font-size: 1.5rem;
  }
  .caption-main> h3{
      font-size: 1.3rem;
  }
}
